@import "../../assets/styles/abstracts/variables";

.footer-section {
    background-color: $secondary-background;
    padding-top: $space-50;
    padding-bottom: $space-30;

    .foot-btn {
        font-size: 16px;
        padding: 12px 20px;
        border-radius: 12px;

        i {
            font-size: 19px;
            vertical-align: middle;
            margin-left: 8px;
        }
    }

    h5 {
        font-weight: 600 !important;
    }

    .list-container {
        padding-left: 0px;
        font-family: $font-secondary;
        margin-top: 20px;

        .foot-list {
            list-style-type: none;
            font-size: 17px;
            margin-top: 13px;

            .foot-link {
                text-decoration: none;
                font-weight: 500;
                color: $text-body;
                transition: color 0.2s ease, transform 0.2s ease;

                &:hover {
                    color: $primary;
                }
            }

            .foot-icon {
                font-size: 19px;
                margin-right: 12px;
                vertical-align: middle;
            }
        }
    }

    .footer-bar {
        border-top: 1px solid $bg-light;
        margin-top: 40px;
        padding-top: 20px;  
         p {
            font-size: 15px !important;
         }
    }
}