@import "../../../../assets/styles/abstracts/variables";

.about-hero {
    background-color: $secondary-background;

    .image-container {
        display: flex;
        justify-content: end;

        .container-width {
            width: 70%;

            .about-profile-img {
                width: 100%;
                border-radius: 16px 16px 0px 0px;
            }

            .number-container {
                background-color: $white-color;
                box-shadow: 0 8px 20px rgba(0, 0, 0, 0.04);
                padding: 16px 24px;
                border-radius: 0px 0px 16px 16px;
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    background: $bg-light;
                    width: 2px;
                    height: 80%;
                    top: 10%;
                }
            }
        }
    }

    .info-icon {
        gap: 12px;

        i {
            font-size: 19px;
            color: $primary;
            vertical-align: middle;
        }
    }
}

@media #{$range-mobile-tablet} {
    // 300 - 991px

    .about-hero {
        .image-container {
            justify-content: center;
        }
    }
}